*{
    padding: 0;
    margin: 0;
}

.styled-table{

     border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    font-family: sans-serif;
    min-width: 60%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td{
    padding: 18px 15px;
}
.styled-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.btn{
    padding: 12px 20px;
    background-color:darkred;
    border-radius: 10px;
    border-style: none;
}
span{
    padding: 5px 10px;
    background-color: yellowgreen;
}
.btn2{
    margin-left: 20px;
}
.oneMovie{
    padding-top: 10px;
}
.genre-categorie{
    margin-top: -20px;
    margin-right: 50px;
}

.list-categories{
    list-style: none;
    border:1px solid #ccc;
    border-radius: 9px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.list-categories li{
    cursor: pointer;
}
.list-categories li:hover{
    background-color: #009879;
}
.list-categories li{
    border-bottom: 1px solid #ccc;
    padding: 12px 52px;
    font-size: 18px;
} 
.list-categories li.active{
    background-color: #009879;
}

.pagination-section a{
    color: #000;
    padding: 10px 18px;
    text-decoration: none;
    border: 1px solid #ccc;
}
.pagination-section a:hover{
  background-color: #009879;
}
.pagination-section a.active{
    background-color: #009879;
  }

/*

.pagination{
    list-style: none;
    border:none;
    width: 38%;
    border-radius: 54px;
    border:1px solid #ccc;
}
.pagination li{
    padding: 12px 25px;
    border-right: 1px solid #ccc;
}
.list-categories li:hover,
.pagination li:hover{
    background-color: darkseagreen;
} */